body {
  margin: 0;
}

header nav {
  background-color: rgb(251, 248, 227);
  margin: 1em;
  border-radius: 80px;
}

#nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

#nav-list img {
  width: 1.5em;
}

#nav-list li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-btn {
  background-color: rgb(243, 227, 136);
  color: rgb(110, 53, 30);
  width: 100%;
  height: 90px;
  border-radius: 80px;
  border: none;
  font-weight: 750;
  font-size: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.nav-btn:hover {
  cursor: pointer;
}

#nav-list li:first-child {
  flex-basis: 100%;
  width: 100%;
  font-size: 2em;
}

#nav-list li:not(:first-child) {
  flex-basis: 45%;
}

main {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 3em;
  color: rgb(110, 53, 30);
  text-align: center;
  font-weight: 1000;
  line-height: 0.8em;
  padding: 1em;
  margin: 0 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  border-radius: 60px;
  background-color: rgb(251, 248, 227);
  margin: 1em;
}
.card-container img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

/* .btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
    width: 100%;
} */

.card-btn {
  width: 60%;
  height: 2.3em;
  background-color: rgb(243, 227, 136);
  padding: 0em;
  border-radius: 80px;
  border: none;
  font-weight: 750;
  margin-bottom: 1em;
}
